 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  } 
  input {
    margin: 5px;
  }
  button {
    margin: 5px;
  } 
  .alphabet {
    display: flex;
    
    margin-top: 10px;
  } 
  .alphabet-button {
    width: 30px;
    height: 30px;
    margin: 5px;
  } 

  button {
    flex: 0 0 calc(16.666% - 10px); 
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }  
  